
/*Header y Logo*/
header{
    height: 85px;
    display: flex;
    border-bottom:1px solid #ccc;
    background-color: #2A2A2A;
 }
 .container_logo{
     width: 120px;
     height: 75px;
     margin-left: 30px;
     margin-top: 7px;
 }

 /*Seccion para la Nav (Esta seccion es para la navegacion de la pagina)*/

 #navbar{
    /*Agarrar el 100% de lo que le quede a la pagina a lo ancho*/
    display: flex; /* Utiliza flexbox para distribuir elementos horizontalmente */
    justify-content: space-between; /* Coloca elementos en los extremos */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 2%; /* Espaciado interior del nav */
    width: 100%;
}
.SearchBar {
    flex-grow: 0; /* Permite que la barra de búsqueda crezca y ocupe el espacio disponible */
    text-align: center; /* Centra el contenido horizontalmente */
    width: 72%; /* Ocupa todo el ancho disponible */
    border-radius: 5px; /* Bordes redondeados para el campo de búsqueda */
}

#navbar ul{
    /*Dentro de la navbar, a la etiqueta ul cambiar el diseño de la lista no ordenada*/
    list-style: none; /* Quita los marcadores de lista */
    display: flex; /* Utiliza flexbox para los elementos de la lista */
    gap: 10px; /* Espacio entre elementos de la lista */
}

/*Se necesitan cambiar estos botones por iconos*/
#navbar ul li{
    margin-bottom: 15px;
    float: right;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}


/*Trabajar unicamente sobre las etiquetas "a" de la navbar y quitarles es subrayado (en este caso)*/
#navbar ul li a{
    text-decoration: none;
    color: black;
}


/*Seccion para el Nav2*/
.Nav2{
    background-color: #fff; 
    box-shadow: 0px 3px 6px #ccc; 
    height: 40px;
    width: 100%;
    text-align: center;

}
.Nav2 ul {
    list-style-type: none; 
    padding: 0; 
}
.Nav2 a{
    color: cornflowerblue;
}

.Nav2 li {
    display: inline; 
    margin-right: 20px; 
    position: relative;
}

.Nav2 li:not(:last-child)::after {
    content: "|"; 
    margin-left: 10px; 
    color: #000; 
}



/*Seccion para el Main Body de la pagina(Esta debera ser la informacion de la pagina)*/




















/* Seccion de Footer*/
footer{
    height: 325px;
    display: flex;
    padding-top: 25px;
    background-color: #2A2A2A;      
}


.row {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.footer_main_info{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 4rem!important;
    padding-left: 4rem!important;
    padding-top: 1rem!important;
}
.container_h2{
display: flex;
}

.footer_Text_main{
    font-family: 'Roboto', sans-serif;
    font-size: 30px !important;
    font-weight: 300;
    padding-bottom: 2rem!important;
    border-bottom: solid 1px white;
    color: white;
}
#footer_contacts{
    list-style-type: none;
}

#footer_contacts li a{
    text-decoration: none;
    color: white;
}

.Linea_divisora{
    border: 2px solid white;
}

/*Logos del footer añadidos con libreria de FontAwesome*/
#PhoneLogo{
    text-align: center;
    margin-right: 1rem;
}


#MailLogo{
    text-align: center;
    margin-right: 1rem;
}
.Social_Media ul{
    list-style: none; /* Elimina los puntos de la lista */
    display: flex; /* Cambia la disposición de la lista a horizontal */
    
}

.Insta {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 45px;
    
}

.Facebook{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.TW{
    display: flex;
    justify-content: center;
    align-items: center; 
}

/*Seccion de footer para el formulario de aclaracion de dudas*/
.formulario {
    background-color: #fff; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 5px; 
    width: 450px;
    height: auto; 
    margin: 0 auto; 
    margin-bottom: 10px;
    margin-top: -10px;
}

/* Estilos para los campos y etiquetas del formulario*/
label {
    display: block; 
    margin-bottom: 2px; 
}

input[type="text"],
input[type="email"],
input[type="tel"],

textarea {
    width: 80%; 
    padding: 3px; 
    margin-bottom: 7px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

/* Estilos para el botón de enviar en el formulario*/
button[type="submit"] {
    background-color: goldenrod; 
    color: #fff; 
    padding: 7px 25px; /* Espaciado interior del botón */
    border: none; 
    border-radius: 5px; 
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    align-items: center;
    margin-top: 5px;   
}

/*Seccion de CopyRight*/
.CopyRigth_Footer{
    background-color: goldenrod !important;
    padding-bottom: 1rem!important;
    width: 100%!important;
    padding-top: 1rem!important;
    color: white;
    text-align: center;
}
.footer-barra {
    max-width: 1200px; /* Ancho máximo de la barra */
    margin: 0 auto; /* Centrar la barra horizontalmente */
}

.footer-barra a{
    text-decoration: none;
    color: white;
}

/* Estilos para el texto de términos y copyright */
.footer-barra p {
    font-size: 14px;
    margin: 0;
}

